### Solidworks
~$*.SLDPRT
~$*.SLDASM

### Creo
std.out
current_session.pro
datafile.ers
errors.lst.*
fix_params.log
*.acc
*.crc
*.err.*
*.idx
*.inf.*
*.log.*
std.err
std.out
trail.txt.*
*.xpr
*.tst
*.acl
*.lst
*.mbx
*.ncl.*
*.ncl_a.tab
*.ncl_b.tab
*.ncl_c.tab
*.ncl_x.tab
*.ncl_y.tab
*.ncl_z.tab
*.tap
*.m_p
*.idx
*.log
*.lsl.*
*.bak
*.pcf
*.inf
*.xml